*{
    color: white;
    margin: 0;
    padding: 0;
}

header{
    padding: 30px;
    text-align: center;
    background-color: olive;
}

img{
    height: 200px;
    width: 250px;
    margin: 20px 20px;
}

.articulo-1{
    background-color:mediumaquamarine;
    width: 30%;
    padding: 20px;
}

.articulo-2{
    background-color: teal;
    width: 30%;
    padding: 20px;
}

.articulo-3{
    background-color:slategrey ;
    width: 30%;
    padding: 20px;

}

.contenedor1{
    background-color: darkkhaki;
    display:flex;
    justify-content: space-between;
}